/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --body-clr: rgb(20, 25, 34);
  --top-bar: rgba(8, 11, 18, 0.4);
  --sidebar-clr: rgb(0, 0, 0);
  --player-clr: rgb(40, 40, 40);
  --title-clr: rgb(255, 255, 255);
  --subtitle-clr: rgb(122, 125, 129);
  --accent-clr: rgb(173, 255, 47);
}

.flexed {
  display: flex;
}

/*************************************************
    TOP BAR PREMIUM UPGRADE STYLES
 *************************************************/
.top-bar {
  z-index: 444;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  background: var(--top-bar);
  height: 100px;
  justify-content: flex-end;
}

.upgrade-btn {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--title-clr);
  padding: 12px 30px;
  border: 1px solid white;
  border-radius: 3rem;
  align-self: center;
  margin-right: 1.3rem;
}

.upgrade-btn:hover {
  transform: scale(1.1);
}

/*************************************************
    MAIN CONTENT STYLES
 *************************************************/
.main-container {
  width: calc(100vw - 300px);
  background-color: var(--body-clr);
  overflow-y: scroll;
  height: 100vh;
}

.center-nav {
  padding-top: 120px;
  text-align: center;
}

.center-nav ul li:first-child {
  position: relative;
}

.center-nav ul li:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: -3px;
  width: 50%;
  border-bottom: 2px solid var(--accent-clr);
}

.center-nav li {
  list-style-type: none;
  display: inline-block;
  padding: 3px 0;
}

.center-nav a {
  color: var(--subtitle-clr);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 600;
  font-size: .85rem;
}

/*************************************************
    SIDEBAR NAV STYLES
 *************************************************/
.side-nav {
  width: 300px;
  height: 100vh;
  background-color: var(--sidebar-clr);
}

/*************************************************
    PLAYER CONTROLS STYLES
 *************************************************/
.player-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100px;
  max-height: 100px;
  background-color: var(--player-clr);
}

.lft-content {
  display: flex;
  align-items: center;
  min-width: 25%;
}

.mid-content {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.rght-content {
  min-width: 25%;
  display: flex;
  align-items: center;
}

/*************************************************
    LEFT PLAYER CONTROLS STYLES
 *************************************************/
.lft-content {
  max-width: 25%;
}

.preview {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.song {
  display: inline-block;
  padding-right: 20px;
}

.song-name a {
  color: var(--title-clr);
  font-weight: 600;
  font-size: .95rem;
  text-decoration: none;
}

.song-author a {
  color: var(--subtitle-clr);
  font-weight: 600;
  font-size: .75rem;
  text-decoration: none;
}

.lft-icons i {
  display: inline-block;
  padding: 0px 10px;
}

.lft-icons a {
  color: var(--subtitle-clr);
}

.fa-heart:hover {
  color: var(--title-clr);
}

.fa-folder:hover {
  color: var(--title-clr);
}

/*************************************************
    MIDDLE PLAYER CONTROLS STYLES
 *************************************************/
.control {
  width: 100%;
  text-align: center;
}

.top-row {
  padding-bottom: 5px;
}

.top-row i {
  color: var(--title-clr);
  font-size: 1.3rem;
  vertical-align: middle;
}

.top-row .fa-circle-play {
  font-size: 2.5rem;
}

.top-row span {
  padding: 0px 10px;
  color: var(--title-clr);
}

.fa-play-circle {
  font-size: 22px;
  padding: 0px 5px;
}

.bottom-row span {
  font-size: .9rem;
  color: var(--title-clr);
  padding: 0 3px;
}

.song-duration {
  height: 5px;
  width: 60%;
  border-radius: 3rem;
  background-color: var(--subtitle-clr);
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.listened-amount {
  width: 20%;
  height: 5px;
  border-radius: 3rem;
  background-color: var(--title-clr);
  position: relative;
}

.listened-amount:hover+.dot {
  display: block;
}

.listened-amount:hover {
  background-color: var(--accent-clr);
}

.dot {
  display: none;
  position: absolute;
  top: -5px;
  bottom: 0px;
  left: 18%;
  width: 16px;
  height: 16px;
  background-color: var(--title-clr);
  border-radius: 50%;
}


/*************************************************
    RIGHT PLAYER CONTROLS STYLES
 *************************************************/
.rght-content i {
  font-size: 15px;
  padding: 0px 3px;
}

.rght-icons a {
  color: var(--title-clr);
}

.rght-icons {
  width: 100%;
  text-align: center;
}

.volume-level {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  height: 5px;
  border-radius: 3rem;
  background-color: var(--subtitle-clr);
  position: relative;
}

.vol-lvl {
  width: 30%;
  height: 5px;
  border-radius: 3rem;
  background-color: var(--title-clr);
  position: relative;
}

.vol-lvl:hover+.dot {
  display: block;
}

.vol-lvl:hover {
  background-color: var(--accent-clr);
}

.dot-lvl {
  left: 25%;
}