/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --body-clr: rgb(20, 25, 34);
  --top-bar: rgba(8, 11, 18, 0.4);
  --sidebar-clr: rgb(0, 0, 0);
  --player-clr: rgb(40, 40, 40);
  --title-clr: rgb(255, 255, 255);
  --subtitle-clr: rgb(122, 125, 129);
  --accent-clr: rgb(173, 255, 47);
}

.flexed {
  display: flex;
}

.cleafix {
  content: "";
  display: table;
  clear: both;
}

.float {
  float: left;
}

li {
  list-style-type: none;
}

/*************************************************
    AUTUMN ANIMATION STYLES
 *************************************************/
.leafs {
  padding: 0px 20px;
}

.leafs img {
  width: 30px;
}

.leafs span {
  z-index: 777;
  bottom: 0;
  width: 100%;
  font-size: clamp(15px 25px 30px);
  animation: animate 30s linear infinite;
  animation-duration: calc(90s / var(--l));
  transform-origin: bottom;
}

@keyframes animate {
  0% {
    transform: translateY(0) scale(1);
  }

  70% {
    transform: translateY(calc(200vh - 130px)) scale(1);
  }

  100% {
    transform: translateY(calc(200vh - 130px)) scale(0);
  }
}


/*************************************************
    TOP BAR PREMIUM UPGRADE STYLES
 *************************************************/
.top-bar {
  z-index: 444;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  background: var(--top-bar);
  height: 100px;
  justify-content: flex-end;
}

.upgrade-btn {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--title-clr);
  padding: 12px 30px;
  border: 1px solid white;
  border-radius: 3rem;
  align-self: center;
  font-size: 16px;
  margin-right: 1.3rem;
}

.upgrade-btn:hover {
  transform: scale(1.1);
}

/*************************************************
    MAIN CONTENT STYLES
 *************************************************/
.main-container {
  background-color: var(--body-clr);
  height: calc(100vh - 100px);
  width: calc(100% - 200px);
  overflow-y: scroll;
}

.center-nav {
  padding-top: 120px;
  text-align: center;
}

.center-nav a:hover {
  color: var(--title-clr);
}

.center-nav ul li:first-child {
  position: relative;
}

.center-nav ul li:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0px;
  width: 50%;
  border-bottom: 2px solid var(--accent-clr);
}

.center-nav li {
  list-style-type: none;
  display: inline-block;
  padding: 3px 0;
}

.center-nav a {
  color: var(--subtitle-clr);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 600;
  font-size: .85rem;
}

.song-info span:first-child {
  color: var(--title-clr);
}

.song-info span:last-child {
  color: var(--subtitle-clr);
}

.song-info {
  display: flex;
  flex-direction: column;
}

.recently-played h1 {
  color: var(--title-clr);
  font-size: 25px;
  text-align: left;
}

.recently-played {
  padding: 2rem;
}

.card-img img {
  max-width: 100%;
}

.cards {
  text-align: center;
}

.listed-songs {
  gap: 10px;
  padding-top: 25px;
  flex-wrap: wrap;
}

.cards {
  text-align: center;
  flex: 0 3 16.35em;
}

.cards h3 {
  color: var(--title-clr);
  padding: 7px 0;
  font-size: 15px;
  cursor: pointer;
}

.cards span {
  color: var(--subtitle-clr);
  font-size: 13px;
}

.created-for h1 {
  color: var(--title-clr);
  font-size: 25px;
  padding-bottom: 5px;
}

.created-for span {
  color: var(--subtitle-clr);
  font-size: 13px;
}

.created-for {
  padding: 2rem;
}

.artist img {
  border-radius: 50%;
  cursor: pointer;
}

.crd-hover {
  position: relative;
  cursor: pointer;
}

.crd-hover:hover .play {
  display: block;
}

.crd-hover:hover img {
  filter: brightness(50%);
}

.play {
  display: none;
  position: absolute;
  z-index: 111;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.play i {
  color: var(--title-clr);
  font-size: 50px;
}

/*************************************************
    SIDEBAR NAV STYLES
 *************************************************/
.side-nav {
  width: 200px;
  height: calc(100vh - 100px);
  background-color: var(--sidebar-clr);
  flex-direction: column;
}

.mobile {
  display: none;
}

#logo {
  width: 100%;
  padding: 1.3rem;
}

.nav img {
  width: 20px;
  padding-right: 3px;
  vertical-align: middle;
}

.nav a {
  text-decoration: none;
  color: var(--subtitle-clr);
  font-size: 13px;
  font-weight: 600;
}

.nav a:hover {
  color: var(--title-clr);
}

.nav li:nth-child(2),
.nav li:nth-child(3) {
  padding-left: 15px;
}

.nav ul li:first-child {
  border-left: 2px solid var(--accent-clr);
  padding-left: 15px;
}

.playlist h2 {
  text-transform: uppercase;
  color: var(--title-clr);
  padding: 15px;
  font-size: 15px;
}

.add-song span {
  color: var(--sidebar-clr);
  font-size: 20px;
  background-color: var(--subtitle-clr);
  padding: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.add-song h4 {
  color: var(--subtitle-clr);
  padding: 9px 12px;
  font-size: 15px;
  cursor: pointer;
}

.add-song h4:hover {
  color: var(--title-clr);
}

.add-song {
  align-items: center;
}

.song-list li {
  list-style-type: none;
  color: var(--subtitle-clr);
  font-weight: 600;
  font-size: 14px;
  padding-top: 7px;
}

.song-list li:hover {
  color: var(--title-clr);
}

.song-list {
  padding: 15px;
  overflow: scroll;
}

.profile-settings img {
  width: 15%;
  vertical-align: middle;
  padding-right: 5px;
}

.profile-settings span {
  color: var(--subtitle-clr);
  font-size: 13px;
  padding-left: 5px;
}

.profile {
  margin-top: 10px;
}

.download {
  margin-bottom: 10px;
}

.download span:hover {
  color: var(--title-clr);
}

.profile span {
  color: var(--title-clr);
  font-weight: 600;
  padding-left: 5px;
}

.profile img {
  color: var(--title-clr);
  width: 20px;
  height: 20px;
  background-color: var(--subtitle-clr);
  border-radius: 50%;
}

.profile-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar-mid {
  flex: 1 1 auto;
  overflow: scroll;
}

.sidebar-bottom {
  padding: 25px;
}


/*************************************************
    PLAYER CONTROLS STYLES
 *************************************************/
.player-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 105px;
  background-color: var(--player-clr);
}

.lft-content {
  display: flex;
  align-items: center;
  min-width: 25%;
}

.mid-content {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.rght-content {
  min-width: 25%;
  display: flex;
  align-items: center;
}

/*************************************************
    LEFT PLAYER CONTROLS STYLES
 *************************************************/
.lft-content {
  max-width: 25%;
}

.preview {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.song {
  display: inline-block;
  padding-right: 20px;
}

.song-name a {
  color: var(--title-clr);
  font-weight: 600;
  font-size: .95rem;
  text-decoration: none;
}

.song-author a {
  color: var(--subtitle-clr);
  font-weight: 600;
  font-size: .75rem;
  text-decoration: none;
}

.song-author a:hover {
  color: var(--title-clr);
  text-decoration: underline;
}

.lft-icons i {
  display: inline-block;
  padding: 0px 10px;
}

.lft-icons a {
  color: var(--subtitle-clr);
}

.fa-heart:hover {
  color: var(--title-clr);
}

.fa-folder:hover {
  color: var(--title-clr);
}

/*************************************************
    MIDDLE PLAYER CONTROLS STYLES
 *************************************************/
.control {
  width: 100%;
  text-align: center;
}

.top-row {
  padding-bottom: 5px;
}

.top-row i {
  color: var(--title-clr);
  font-size: 1.3rem;
  vertical-align: middle;
}

.top-row .fa-circle-play {
  font-size: 2.5rem;
}

.top-row span {
  padding: 0px 10px;
  color: var(--title-clr);
}

.fa-play-circle {
  font-size: 22px;
  padding: 0px 5px;
}

.bottom-row span {
  font-size: .9rem;
  color: var(--title-clr);
  padding: 0 3px;
}

.song-duration {
  height: 5px;
  width: 60%;
  border-radius: 3rem;
  background-color: var(--subtitle-clr);
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.listened-amount {
  width: 20%;
  height: 5px;
  border-radius: 3rem;
  background-color: var(--title-clr);
  position: relative;
}

.listened-amount:hover+.dot {
  display: block;
}

.listened-amount:hover {
  background-color: var(--accent-clr);
}

.dot {
  display: none;
  position: absolute;
  top: -5px;
  bottom: 0px;
  left: 18%;
  width: 16px;
  height: 16px;
  background-color: var(--title-clr);
  border-radius: 50%;
}


/*************************************************
    RIGHT PLAYER CONTROLS STYLES
 *************************************************/
.rght-content i {
  font-size: 15px;
  padding: 0px 3px;
}

.rght-icons a {
  color: var(--title-clr);
}

.rght-icons {
  width: 100%;
  text-align: center;
}

.volume-level {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
  height: 5px;
  border-radius: 3rem;
  background-color: var(--subtitle-clr);
  position: relative;
}

.vol-lvl {
  width: 30%;
  height: 5px;
  border-radius: 3rem;
  background-color: var(--title-clr);
  position: relative;
}

.vol-lvl:hover+.dot {
  display: block;
}

.vol-lvl:hover {
  background-color: var(--accent-clr);
}

.dot-lvl {
  left: 25%;
}

/*************************************************
    RESPONSIVE
 *************************************************/
@media all and (max-height: 205px) {
  .top-bar {
    display: none;
  }
}

@media all and (max-width: 1800px) {
  .cards {
    flex: 0 1 15.4em;
  }
}

@media all and (max-width: 1200px) {
  .cards {
    flex: 0 1 14.1em;
  }

  .leafs {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .cards {
    flex: 0 1 12.8em;
  }

  .song {
    padding-right: 0px;
  }
}

@media all and (max-width: 600px) {
  .cards {
    flex: 0 1 25em;
  }

  .song {
    padding-left: 10px;
    padding-right: 0px;
  }

  .preview {
    display: none;
  }

}

@media all and (max-width: 480px) {
  .sidebar-mid {
    display: none;
  }

  .sidebar-bottom {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    width: 25px;
    margin-left: -10px;
  }

  .nav a {
    display: none;
  }

  .side-nav {
    width: 50px;
  }

  .main-container {
    width: calc(100% - 50px);
  }

  .recently-played h1 {
    font-size: 20px;
    text-align: center;
  }

  .center-nav a {
    padding: 0 7px;
    font-size: .75rem;
  }

  .top-bar {
    width: calc(100% - 50px);
  }

  .upgrade-btn {
    margin-right: 130px;
  }

  .cards {
    flex: 0 1 22em;
  }

  .lft-content img {
    display: none
  }

  .song {
    padding-left: 10px;
  }

  .lft-icons i {
    padding: 0px 3px;
  }

  .song-author {
    font-size: 10px;
  }

  .mid-content {
    width: 60%;
  }

  .created-for h1 {
    font-size: 20px;
  }

  .created-for {
    text-align: center;
  }

  .card-img {
    padding-top: 20px;
  }

  .upgrade-btn {
    padding: 5px 15px;
    border-radius: 3rem;
    margin-right: 110px;
    font-size: 15px;
  }

  .mid-content {
    width: 40%;
  }
}

@media all and (max-width: 450px) {
  .top-row i {
    font-size: 15px;
  }

  .top-row .fa-circle-play {
    font-size: 18px;
  }
}

@media all and (max-width: 391px) {
  .bottom-row span {
    font-size: 10px;
  }

  .top-row i {
    font-size: 10px;
  }

  .rght-icons i {
    font-size: 10px;
  }

  .lft-content {
    font-size: 10px;
  }

  .song-name a {
    font-size: 10px;
  }

  .song-author a {
    font-size: 10px;
  }

  .top-row .fa-circle-play {
    font-size: 14px;
  }

  .upgrade-btn {
    padding: 5px 15px;
    border-radius: 3rem;
    margin-right: 40px;
    font-size: 15px;
  }
}

@media all and (max-width: 320px) {
  .sidebar-mid {
    display: none;
  }

  .sidebar-bottom {
    display: none;
  }

  .upgrade-btn {
    padding: 5px 15px;
    border-radius: 3rem;
    margin-right: 40px;
    font-size: 15px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    width: 25px;
    margin-left: -10px;
  }

  .nav a {
    display: none;
  }

  .side-nav {
    width: 50px;
  }

  .main-container {
    width: calc(100% - 50px);
  }

  .recently-played h1 {
    font-size: 20px;
    text-align: center;
  }

  .center-nav a {
    padding: 0 7px;
    font-size: .75rem;
  }

  .top-bar {
    width: calc(100% - 50px);
  }

  .cards {
    flex: 0 0 13em;
  }

  .lft-content {
    display: none;
  }

  .rght-content {
    display: none;
  }

  .mid-content {
    width: 100%;
  }

  .created-for h1 {
    font-size: 20px;
  }

  .created-for {
    text-align: center;
  }

  .card-img {
    padding-top: 20px;
  }
}